/*
 * Start Bootstrap - Full HTML 
 */

body {
    margin-top: 50px; /* margin for .navbar-fixed-top. */
}

/* Header Image Background  */

.full {
	margin-top: 50px;
    background: url('HTML.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
